<% content_for :jumbotron do %>
  <header>
    <h1>Otto's Appliance Service Inc.</h1>
    <h2>Services</h2>
  </header>
<% end %>

<main class="text-center">
  <section id="factory-authorized-service">
    <h2>Factory Authorized Service</h2>
    <div class="brand-container">
      <div class="brand-logo"><%= image_tag "Thermador-color.png", alt: "Thermador" %></div>
      <div class="brand-logo"><%= image_tag "Bosch-color.png", alt: "Bosch" %></div>
      <div class="brand-logo"><%= image_tag "Insinkerator-color.png", alt: "Insinkerator" %></div>
    </div>
  </section>
</main>
