#application.about {

  .jumbotron {
    background-image: url(asset-path('golden-gate.jpg'));
  }

  main {
    figure {
      margin: 0 0 1rem;
      border: 10px solid #cbcbcb;

      img {
        display: block;
        width: 100%;
      }
    }
  }

  @media(min-width: 768px) {
    .photos {
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      figure img {
        max-width: 500px;
        width: 40vw;
        height: 100%;
        object-fit: cover;
      }
    }

    .lead {
      margin: 4rem;
    }

    .reviews {
      width: 700px;
      margin: auto;
    }
  }
}
