#application.home {

  .jumbotron {
    background-image: url(asset-path('ottos-bg.jpg'));

    &::before {
      content: '';
      position: absolute;
      z-index: 0;
      top: 0; right: 0; bottom: 0; left: 0;
      height: 100%;
      background-color: rgba(0, 0, 30, 0.3);
    }

    h1 {
      margin-bottom: 0;
      font-size: 3.25rem;
      font-weight: 700;
      letter-spacing: 0.4rem;
      line-height: 3.25rem;
    }

    h2 {
      margin-bottom: 2rem;
      font-size: 1.25rem;
      font-weight: 400;
    }
  }

  main {
    padding: 1rem;
    border-top: 8px solid #8c001a;
    box-shadow: 0 0 50px 25px #091323;
  }

  #information {
    padding-top: 0.75rem;

    .hours {
      margin-bottom: 0.5rem;
      text-align: center;
    }

    .information-container {
      margin: 1rem 0;
    }

    .information-block {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0.5rem;
      border-bottom: 1px solid #ccc;
      font-weight: 400;

      i { color: #8c001a; }
      a { color: #000; }
      strong { font-weight: 600; }
      &:last-child { border-bottom: 0; }
    }

    .information-icon {
      display: inline-block;
      min-width: 64px;
      padding: 0.5rem;
      text-align: center;
    }

    @media(min-width: 1024px) {
      .information-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }

      .information-block {
        border-bottom: 0;
      }
    }
  }

  #brands-we-service {
    margin: 0 -1rem;
    padding: 1rem 0 1.75rem;
    background-color: #303e4e;
    color: #fff;
    text-align: center;

    h2 {
      color: #fff;
    }

    .brand-logo {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 75px;

      img {
        display: block;
        transition: all 0.5s;
        opacity: 0.5;
      }

      &:hover img {
        opacity: 1;
      }
    }

    @media(min-width: 768px) {
      .brand-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }
    }
  }

  #testimonials {
    margin: 0 -1rem;
    padding: 1rem;
    text-align: center;

    h3 {
      color: rgb(52, 73, 94);
    }

    .testimonial {
      margin-bottom: 2.5rem;

      p {
        font-style: italic;
      }

      .author {
        font-size: 0.75rem;
      }
    }

    a {
      color: #000;
      font-weight: 600;
    }
  }
}
