#application.services {

  .jumbotron {
    background-image: url(asset-path('cable-car.jpg'));

    &::before {
      background-color: rgba(0, 0, 30, 0.5);
    }
  }

  #factory-authorized-service {
    max-width: 1024px;
    margin: 0 auto;
    padding: 1rem 1rem 1.75rem;
    text-align: center;

    .brand-logo {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 75px;

      img {
        display: block;
        transition: all 0.5s;
        opacity: 0.5;
      }

      &:hover img {
        opacity: 1;
      }
    }

    @media(min-width: 768px) {
      .brand-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }
    }
  }

  #appliances {
    max-width: 1024px;
    margin: 0 auto;

   .appliances-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;

      figure {
        width: 150px;
      }
    }
  }

  #service-area {
    max-width: 1024px;
    margin: 0 auto;
  }

  .service-area-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
    list-style: none;

    li {
      padding: 1rem 0.75rem;
    }
  }
}
